/* body {
    background-image: url(../images/neurons.jpg);
    background-size: cover;
} */
/* 
#countdown {
    color: black;
}
*/
#gameHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    color: greenyellow;
}


#button-row {
    background-color: yellow;
    text-align: center;
}

#quiz {
    background-color: green;
    text-align: center;


}

#question {
    background-color: red;

}

#choices {
    background-color: pink;
    height: 450px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    }

#timer {
    background-color: orange;
    text-align: center;
}
#scoreContainer {
    text-align: center;
    background-color: aqua;
}


/* #page {
    vertical-align: middle;
    color: pink;
    font-weight: bolder;
    background-color: blueviolet;
    /* display: none; */
/* } 

/* #activeArea {
        background-color: white;
        width: 800px;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        /* filter: alpha(opacity=50); 
}
  */
