body {
    background-image: url(../images/neurons.jpg);
    background-size: cover;
}

#gameHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#button-row {
    text-align: center;
}


#quiz {
    background-color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

#other { 
    background-color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    position: fixed;
}

#question {
    background-color: rgb(42, 212, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    padding-top: 30px;
  }


#submit {
 background-color: rgb(138, 15, 35); 
    width: 100px;
    height: 100px;

    padding: 20px;
    text: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
#scoreContainer {
    text-align: center;
    background-color: aqua;
}


/* #page {
    vertical-align: middle;
    color: pink;
    font-weight: bolder;
    background-color: blueviolet;
    /* display: none; */
/* } 

/* #activeArea {
        background-color: white;
        width: 800px;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        /* filter: alpha(opacity=50); 
}
  */
