body {
    background-image: url(../images/neurons.jpg);
    background-size: cover;
}



#gameHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    margin: auto; 
} 
#activeGamePage {
    vertical-align: middle;
    /* display: none; */
}

#activeArea {
        background-color: white;
        width: 800px;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        filter: alpha(opacity=50);
}

